
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Heder*/

.main-header{
    background-image: url(background-image.png);/*adicionar a imagem no fundo do topo*/
    background-position: 50% 39%;/*alinha os elementos nos eixos x e y*/
    display: flex;/*colocar os elementos centralizados*/
    flex-direction: column;/*alinha os elementos um embaixo do outro*/
    align-items: center;/*centralizar os elementos*/
}

.main-nav{
    width: 100%;/*ocupar toda a area disponivel*/
    /*   padding: 0 16px;primeiro cima/baixo, segundo esquerda/direita
    margin: 0 auto;/* nao aplica cima/baixo, o auto distribui o maimo possivel a direita e para a esquerda
    como repete no container ele é apagado e colocamos no html a class container junto*/
}

.header-list-container{
    display: flex;/*colocar os elementos na mesma linha*/
    justify-content: space-between;/*adiciona um espaçamento entre os itens*/
    align-items: center;/*garantir que fiquem alinhados na mesma linha*/
    padding: 16px 0;/*primeiro é esquerda e direita, segundo cima e baixo*/
}

.nav-item{
    list-style-type: none;/*remove as bolinhas padrão dos elementos li*/
    text-transform: uppercase;/*deixar todas as letras em maiusculo*/
    color: #00008b;
}

hr{
    width: 100%;/*ocupar toda area disponivel*/
}

.nav-item a{
    text-decoration: none;/*remove o underline do ancora*/
    color: inherit;/*herda a or do elemento pai (neste caso é o nav-item)*/
}

.nav-item:hover{
    color: rgba(0, 0, 139, 0.7);/*quando passar o mouse troca a cor / rgba passa a cor e no final*/
    transition: 0.2s;
}

.main-about{
    padding: 40px 0 64px;
}

.container{
    max-width: 600px;/*travar a largura maxima que definimos para o projeto*/
    padding: 0 16px;/*primeiro cima/baixo, segundo esquerda/direita*/
    margin: 0 auto;/* nao aplica cima/baixo, o auto distribui o maimo possivel a direita e para a esquerda*/
}

.about-title{
    font-family: "raleway", sans-serif;/*pega a onte importada, caso ele nao encontre utiliza a sans-serif*/
    font-size: 32px;/*tamanho da fonte*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image{
    float: left;/*alinha a imagem esquerda e o texto a direita*/
    margin: 0 20px 10px 0;/*o topo, 20 direita, 10 baixo, 0 esquerda*/
    /*diminuir o tamanho das imagens*/
    width: 200px;/*largura*/
    height: auto;/*evita a distorção de imagen*/
}